[alias]
  hist = log --graph --decorate --pretty=oneline --abbrev-commit
  root = rev-parse --show-toplevel
[core]
	autocrlf = input
	editor = code --wait
	excludesFile = ~/.gitignore_global
[diff]
  tool = vscode
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
  keepBackup = false
  external = code --wait $MERGED
[merge.tool "vscode"]
	cmd = code --wait $MERGED
[mergetool]
  keepBackup = false
[mergetool "vscode"]
  cmd = code --wait $MERGED
[push]
  autoSetupRemote = true
[tag]
	forceSignAnnotated = true
[sequence]
	editor = code --wait --reuse-window

[include]
  path = ~/.local.gitconfig
