[user]
name = {{ .user.git.name }}
email = {{ .user.git.email | quote }}

[alias]
hist = log --graph --decorate --pretty=oneline --abbrev-commit
root = rev-parse --show-toplevel

[core]
editor = nvim
excludesFile = ~/.gitignore_global
pager = delta

[delta]
navigate = true
light = false
line-numbers = true
side-by-side = true

[diff]
algorithm = histogram
colorMoved = default
tool = vscode

[difftool]
prompt = false

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = diff3
tool = vscode
keepBackup = false
external = code --wait $MERGED

[merge.tool "vscode"]
cmd = code --wait $MERGED

[mergetool]
keepBackup = false

[mergetool "vscode"]
cmd = code --wait $MERGED

[push]
autoSetupRemote = true

[tag]
forceSignAnnotated = true

[sequence]
editor = code --wait --reuse-window

[rerere]
enabled = true

[include]
path = ~/.local.gitconfig
